[Unit]
Description=Anders Robot Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=andersrobot
WorkingDirectory=/home/andersrobot
ExecStart=/home/andersrobot/bot

[Install]
WantedBy=multi-user.target
